@font-face {
    font-family: "MyFont";
    src: url(font/Interstate.ttf);
}

header {
    margin: 0;
    background-color: white;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #367C2B;
}

.content {
    background-color: #ececec;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}


footer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}