header {
    margin: 0;
    background-color: white;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    top: 0;
}

.content {
    background-color: #ececec;
    flex: 1
}

.site {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
}